.btn-group .dropdown-menu a{
    color:#fff;
}

.btn-group-primary .dropdown-menu {
  background-color: #3784c5 !important;
}
.btn-group-primary .dropdown-menu li > a:hover,
.btn-group-primary .dropdown-menu li > a:focus {
  background-color: #428bca !important;
}
